<h1>
  <%= @article.title %>
</h1>

<%= link_to "<< Back To All Articles", articles_path %>
<hr>

<p>
  <%= @article.body %>
</p>

<%= link_to "edit", edit_article_path(@article) %>

<%= link_to "delete", article_path(@article), method: :delete, data: { confirm: "Really delete this article? " } %>

<%= render partial: 'comments/form' %>

<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
